
<%= form_tag root_path, method: :get do %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag 'Search' %>
<% end %>

<table class='table'>
  <thead>
    <th>Class</th>
    <th>Name</th>
    <th>Color</th>
  </thead>
  <tbody>
    <% @results.each do |record| %>
      <%= render partial: record.class.name.demodulize.downcase, locals: { record: record } %>
    <% end %>
  </tbody>
</table>
